$fontGeorgia: Georgia, 'Times New Roman', Times, serif;
$fontArial: Arial, Helvetica, sans-serif;
$color-primary: #F1CDB3;
$hover-primary: #FDDCC4;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

[class*="-wrapper"] {
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    padding-left: 40px;
    padding-right: 40px;
}

h3 {
    font-family: $fontGeorgia;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

header{
    width: 100%;
    position: absolute;

    .header-wrapper {
        padding-top: 60px;
        display:flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 184px;

            h1 {
                color: $color-primary;
                font-family: $fontGeorgia;
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 110%;
                letter-spacing: 0.054em;
                -webkit-text-stroke: .7px black;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin: 0;
            }

            p {
                font-family: $fontArial;
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 15px;
                color: #FFFFFF;
                letter-spacing: 0.1em;
                padding-top: 10px;
                text-align: right;
            }
        }
    }
}

nav {

    ul {
        width: fit-content;
        margin: 0px -17.5px;

        li {
            font-family: $fontArial;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
            list-style: none;
            display: inline-block;
            margin: 0 17.5px;

            a{
                text-decoration: none;
                color: #CDCDCD;
                transition: .2s;
            }

            a:hover {
                color: #FAFAFA;
                transition: .2s;
            }

            .main-link {
                border-bottom: 3px solid $color-primary;
                color: #FAFAFA;
            }

            a:active {
                border-bottom: 3px solid $color-primary;
                color: #FAFAFA;
            }
        }
    }
}

.not-only {
    width: 100%;
    background: radial-gradient(at -35% 5%, #5B483A, #262425 80%);
    padding-top: 125.25px;

    .not-only-wrapper {
        display: flex;
        flex-wrap: nowrap;

        section {
            width: 100%;
            max-width: 460px;
            padding: 222.78px 0px 243px 0px;

            h2 {
                font-family: $fontGeorgia;
                font-style: normal;
                font-weight: 400;
                font-size: 44px;
                line-height: 130%;
                color:#FFFFFF;
                max-width: 310px;
            }

            p {
                font-family: $fontArial;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                color: #CDCDCD;
                padding: 42px 0px;
            }

            a {
                text-decoration: none;
                font-family: $fontGeorgia;
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 130%;
                letter-spacing: 0.05em;
                color: #292929;
                background-color: $color-primary;
                border-radius: 100px;
                padding: 15px 46px;
                display: inline-block;
                transition: .2s;
            }

            a:hover {
                background-color: $hover-primary;
                transition: .2s;
            }
        }

        div {
            width: 100%;
            margin: 60px 0px 0px 42px;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.about-wrapper {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: nowrap;

    div {
        flex: 1;

        img {
            display: block;
            margin: 0px 120px 0px auto;
        }
    }

    section {
        flex: 1;
        margin: 14px 0;

        h3 {
            width: 100%;
            max-width: 370px;
        }

        p {
            font-family: $fontArial;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
            color: #4C4C4C;
            width: 100%;
            max-width: 430px;
            margin-top: 25px;
        }
    }
}

.our-friends {
    background-color: #F6F6F6;

    .our-friends-wrapper {
        padding-top: 80px;
        padding-bottom: 100px;

        section {
            h3 {
                max-width: 400px;
                margin: 0px auto;
                text-align: center;
            }

            .carusel {
                margin: 60px 0;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;

                .arrow {
                    width: 52px;
                    height: 52px;
                }

                button {
                    border: 2px solid $color-primary;
                    border-radius: 100px;
                    transition: .2s;
                }

                button:hover {
                    background-color: $hover-primary;
                    border-color: $hover-primary;
                    transition: .2s;
                    cursor: pointer;
                }

                .carusel-container {
                    display: flex;
                    flex-wrap: nowrap;
                    margin: 0px 8px;

                    .card {
                        background: #FAFAFA;
                        border-radius: 9px;
                        margin: 0px 45px;

                        figcaption {
                            font-family: $fontGeorgia;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 23px;
                            text-align: center;
                            letter-spacing: 0.055em;
                            color: #545454;
                            margin: 30px 0px;
                        }

                        button {
                            padding: 15px 45px;
                            font-family: $fontGeorgia;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 17px;
                            line-height: 22px;
                            letter-spacing: 0.03em;
                            color: #292929;
                            display: block;
                            max-width: 187px;
                            margin: 30px auto;
                        }
                    }

                    .card:hover button {
                        background-color: $hover-primary;
                        border-color: $hover-primary;
                        transition: .2s;
                        cursor: pointer;
                    }

                    .card:hover {
                        cursor: pointer;
                    }
                }
            }

            a {
                text-decoration: none;
                font-family: $fontGeorgia;
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 130%;
                letter-spacing: 0.05em;
                color: #292929;
                background-color: $color-primary;
                border-radius: 100px;
                padding: 15px 46px;
                display: block;
                width: 261px;
                margin: 0px auto;
                transition: .2s;
            }

            a:hover {
                background-color: $hover-primary;
                transition: .2s;
            }
        }
    }
}

.help-wrapper {
    padding-top: 80px;
    padding-bottom: 100px;

    section {
        h3 {
            max-width: 310px;
            margin: 0px auto;
            text-align: center;
        }

        ul {
            margin: 37.5px 27px -22.5px 27px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                list-style: none;
                display: inline-block;
                font-family: $fontGeorgia;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 115%;
                text-align: center;
                letter-spacing: 0.05em;
                color: #545454;
                margin: 22.5px 60px;

                img {
                    width: 60px;
                    height: 60px;
                    margin-bottom: 30px;
                }

                .shampoos {
                    width: 31.3px;

                }
            }
        }
    }
}