* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  background-color: rgb(71, 32, 32);
}
header .header-wrapper {
  max-width: 1280px;
  padding: 60px 40px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-wrapper .logo {
  width: 184px;
}
header .header-wrapper .logo h1 {
  color: #F1CDB3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  -webkit-text-stroke: 0.3px black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}
header .header-wrapper .logo p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  padding-top: 10px;
  text-align: right;
}

nav ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px -17.5px;
}
nav ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  list-style: none;
  display: inline-block;
  margin: 0 17.5px;
}
nav ul li a {
  text-decoration: none;
  color: #CDCDCD;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav ul li a:hover {
  color: #FAFAFA;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav ul li .main-link {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}
nav ul li a:active {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}