* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

[class*=-wrapper] {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding-left: 40px;
  padding-right: 40px;
}

header {
  width: 100%;
  position: absolute;
}
header .header-wrapper {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-wrapper .logo {
  width: 184px;
}
header .header-wrapper .logo h1 {
  color: #F1CDB3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.054em;
  -webkit-text-stroke: 0.7px black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}
header .header-wrapper .logo p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  padding-top: 10px;
  text-align: right;
}

nav ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px -17.5px;
}
nav ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  list-style: none;
  display: inline-block;
  margin: 0 17.5px;
}
nav ul li a {
  text-decoration: none;
  color: #CDCDCD;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav ul li a:hover {
  color: #FAFAFA;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav ul li .main-link {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}
nav ul li a:active {
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}

.not-only {
  width: 100%;
  background: radial-gradient(at -35% 5%, #5B483A, #262425 80%);
  padding-top: 125.25px;
}
.not-only .not-only-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.not-only .not-only-wrapper section {
  width: 100%;
  max-width: 460px;
  padding: 222.78px 0px 243px 0px;
}
.not-only .not-only-wrapper section h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 310px;
}
.not-only .not-only-wrapper section p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  padding: 42px 0px;
}
.not-only .not-only-wrapper section a {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #292929;
  background-color: #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  display: block;
  width: 207px;
}
.not-only .not-only-wrapper div {
  width: 100%;
  margin: 60px 0px 0px 42px;
}
.not-only .not-only-wrapper div img {
  display: block;
  width: 100%;
}