* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

[class*=-wrapper] {
  min-width: 320px;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding-left: 40px;
  padding-right: 40px;
}

header {
  width: 100%;
  min-width: 320px;
}
header .header-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-wrapper .logo-link {
  display: block;
  width: 184px;
  height: 60px;
  position: absolute;
  z-index: 101;
}
header .header-wrapper .logo {
  width: 184px;
  z-index: 100;
}
header .header-wrapper .logo h1 {
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.054em;
  -webkit-text-stroke: 0.7px black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}
header .header-wrapper .logo p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #292929;
  letter-spacing: 0.1em;
  padding-top: 10px;
  text-align: right;
}

nav ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px -17.5px;
}
nav ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  list-style: none;
  display: inline-block;
  margin: 0 17.5px;
}
nav ul li a {
  text-decoration: none;
  color: #545454;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav ul li a:hover {
  color: #292929;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav ul li .main-link {
  border-bottom: 3px solid #F1CDB3;
}
nav ul li a:active {
  border-bottom: 3px solid #F1CDB3;
}

.our-friends {
  min-width: 320px;
  background-color: #F6F6F6;
}
.our-friends .friends-wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}
.our-friends .friends-wrapper h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 400px;
  margin: 0px auto;
  text-align: center;
}
.our-friends .friends-wrapper .pets-cards {
  margin: 45px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.our-friends .friends-wrapper .pets-cards .card {
  background: #FAFAFA;
  border-radius: 9px;
  max-width: 270px;
}
.our-friends .friends-wrapper .pets-cards .card figcaption {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.055em;
  color: #545454;
  margin: 30px 0px;
}
.our-friends .friends-wrapper .pets-cards .card button {
  padding: 15px 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #292929;
  display: block;
  max-width: 187px;
  margin: 30px auto;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.our-friends .friends-wrapper .pets-cards .card button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.our-friends .friends-wrapper .pets-cards .card:hover button {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
.our-friends .friends-wrapper .pets-cards .card:hover {
  cursor: pointer;
}
.our-friends .friends-wrapper .pagination {
  margin: 0px auto;
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-friends .friends-wrapper .pagination button {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -2px;
  border: 2px solid #CDCDCD;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.our-friends .friends-wrapper .pagination .active {
  background-color: #F1CDB3;
}
.our-friends .friends-wrapper .pagination .active, .our-friends .friends-wrapper .pagination .next {
  border: 2px solid #F1CDB3;
}
.our-friends .friends-wrapper .pagination .next:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

footer {
  background: radial-gradient(at -35% 5%, #5B483A, #262425 80%);
  padding-top: 40px;
  min-width: 320px;
}
footer h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 16px;
}
footer a {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer a img {
  margin-right: 20px;
}
footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-wrapper .contacts {
  max-width: 279px;
}
footer .footer-wrapper .contacts a {
  margin-top: 40px;
}
footer .footer-wrapper .location {
  max-width: 302px;
}
footer .footer-wrapper .location a {
  margin-top: 32px;
}
footer .footer-wrapper div img {
  display: block;
}

@media screen and (max-width: 1279.9px) {
  [class*=-wrapper] {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .our-friends .friends-wrapper {
    padding-bottom: 76px;
  }
  .our-friends .friends-wrapper .pets-cards {
    margin: 30px 64px;
  }
  .our-friends .friends-wrapper .pets-cards .hide {
    display: none;
  }
  footer {
    padding-top: 30px;
  }
  footer h3 {
    margin-top: 0px;
  }
  footer .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-wrapper .contacts {
    margin-left: 34px;
  }
  footer .footer-wrapper .location {
    margin-right: 34px;
  }
  footer .footer-wrapper div {
    width: 100%;
    margin-top: 65px;
  }
  footer .footer-wrapper div img {
    display: block;
    max-width: 300px;
    margin: 0px auto;
  }
}
@media screen and (max-width: 767.9px) {
  [class*=-wrapper] {
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #burger__menu {
    display: block;
    width: 30px;
    height: 22px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    margin: 0px auto;
    z-index: 100;
  }
  #burger__menu div {
    width: 30px;
    height: 2px;
    background-color: #000000;
    margin-top: 8px;
  }
  #burger__menu.active {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  nav {
    display: none;
    position: absolute;
    top: 120px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ffffff;
  }
  nav ul {
    width: 100%;
    margin: 0px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  nav ul li {
    font-size: 32px;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto;
  }
  .our-friends .friends-wrapper {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .our-friends .friends-wrapper h2 {
    font-size: 25px;
  }
  .our-friends .friends-wrapper .pets-cards {
    margin: 42px 15px;
  }
  .our-friends .friends-wrapper .pets-cards .hide {
    display: none;
  }
  .our-friends .friends-wrapper .pagination {
    width: 300px;
  }
  footer .footer-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-wrapper .contacts, footer .footer-wrapper .location {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    max-width: 300px;
  }
  footer .footer-wrapper .contacts h2, footer .footer-wrapper .location h2 {
    font-size: 25px;
    max-width: 290px;
    text-align: center;
    margin: 0px auto;
  }
  footer .footer-wrapper .contacts a, footer .footer-wrapper .location a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 40px auto 0px;
  }
  footer .footer-wrapper .location a {
    width: 100%;
  }
  footer .footer-wrapper div {
    width: 100%;
    margin-top: 0px;
  }
  footer .footer-wrapper div img {
    display: block;
    max-width: 260px;
    margin: 0px auto;
  }
}