$fontGeorgia: Georgia, 'Times New Roman', Times, serif;
$fontArial: Arial, Helvetica, sans-serif;
$color-dark: #545454;
$color-primary: #F1CDB3;
$hover-primary: #FDDCC4;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

[class*="-wrapper"] {
    min-width: 320px;
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    padding-left: 40px;
    padding-right: 40px;
}

header{
    width: 100%;
    min-width: 320px;

    .header-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        display:flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .logo-link {
            display: block;
            width: 184px;
            height: 60px;
            position: absolute;
            z-index: 101;
        }

        .logo {
            width: 184px;
            z-index: 100;

            h1 {
                color: $color-dark;
                font-family: $fontGeorgia;
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 110%;
                letter-spacing: 0.054em;
                -webkit-text-stroke: .7px black;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin: 0;
            }

            p {
                font-family: $fontArial;
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 15px;
                color: #292929;
                letter-spacing: 0.1em;
                padding-top: 10px;
                text-align: right;
            }
        }
    }
}

nav {

    ul {
        width: fit-content;
        margin: 0px -17.5px;

        li {
            font-family: $fontArial;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
            list-style: none;
            display: inline-block;
            margin: 0 17.5px;

            a{
                text-decoration: none;
                color: $color-dark;
                transition: .2s;
            }

            a:hover {
                color: #292929;
                transition: .2s;
            }

            .main-link {
                border-bottom: 3px solid $color-primary;
            }

            a:active {
                border-bottom: 3px solid $color-primary;
            }
        }
    }
}

#burger__menu {
    display: none;
}

.our-friends {
    min-width: 320px;
    background-color: #F6F6F6;

    .friends-wrapper {
        padding-top: 80px;
        padding-bottom: 100px;

        h2 {
            font-family: $fontGeorgia;
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: $color-dark;
            max-width: 400px;
            margin: 0px auto;
            text-align: center;
        }

        .pets-cards {
            margin: 45px 0px;
            display:flex;
            flex-wrap: wrap;
            gap:30px 40px;
            justify-content: space-around;

            .card {
                background: #FAFAFA;
                border-radius: 9px;
                max-width: 270px;

                figcaption {
                    font-family: $fontGeorgia;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: 0.055em;
                    color: $color-dark;
                    margin: 30px 0px;
                }

                button {
                    padding: 15px 45px;
                    font-family: $fontGeorgia;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 22px;
                    letter-spacing: 0.03em;
                    color: #292929;
                    display: block;
                    max-width: 187px;
                    margin: 30px auto;
                    border: 2px solid $color-primary;
                    border-radius: 100px;
                    transition: .2s;
                }

                button:hover {
                    background-color: $hover-primary;
                    border-color: $hover-primary;
                    transition: .2s;
                    cursor: pointer;
                }

            }

            .card:hover button {
                background-color: $hover-primary;
                border-color: $hover-primary;
                transition: .2s;
                cursor: pointer;
            }

            .card:hover {
                cursor: pointer;
            }
        }

        .pagination {
            margin: 0px auto;
            width: 340px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                width: 52px;
                height: 52px;
                border-radius: 100px;
                font-family: $fontGeorgia;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                letter-spacing: -2px;
                border: 2px solid #CDCDCD;
                transition: .2s;
            }

            .active {
                background-color: $color-primary;
            }

            .active, .next {
                border: 2px solid $color-primary;

            }

            .next:hover {
                background-color: $hover-primary;
                border-color: $hover-primary;
                transition: .2s;
                cursor: pointer;
            }
        }
    }
}

footer {
    background: radial-gradient(at -35% 5%, #5B483A, #262425 80%);
    padding-top: 40px;
    min-width: 320px;

    h2 {
        font-family: $fontGeorgia;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        margin-top: 16px;
    }

    a {
        text-decoration: none;
        font-family: $fontGeorgia;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        color: $color-primary;
        display: flex;
        align-items: center;

        img {
            margin-right: 20px;
        }
    }

    .footer-wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        .contacts {
            max-width: 279px;

            a {
                margin-top: 40px;
            }
        }

        .location {
            max-width: 302px;

            a {
                margin-top: 32px;
            }
        }

        div {
            img {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 1279.9px) {
    [class*="-wrapper"] {
        max-width: 768px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .our-friends {
        .friends-wrapper {
            padding-bottom: 76px;

            .pets-cards {
                margin: 30px 64px;

                .hide {
                    display: none;
                }
            }
        }
    }

    footer {
        padding-top: 30px;

        h3 {
            margin-top: 0px;
        }

        .footer-wrapper {
            flex-wrap: wrap;
            justify-content: space-between;

            .contacts {
                margin-left: 34px;
            }

            .location {
                margin-right: 34px;
            }

            div {
                width: 100%;
                margin-top: 65px;
                img {
                    display: block;
                    max-width: 300px;
                    margin: 0px auto;
                }
            }
        }
    }
}

@media screen and (max-width: 767.9px) {
    [class*="-wrapper"] {
        max-width: 320px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hide {
        overflow: hidden;
    }

    header.open__menu {
        position: absolute;
        top: 0px;
        bottom: 0px;
        height: 100%;
        overflow: hidden;
        transition: all .5s ease-out;
        background-color:  rgba(41, 41, 41, 0.6);
    }

    #burger__menu {
        display: block;
        width: 30px;
        height: 22px;
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        margin: 0px auto;
        z-index: 100;
        transition: all .5s ease-out;

        div {
            width: 30px;
            height: 2px;
            background-color: #000000;
            margin-top: 8px;
        }
    }

    #burger__menu.active__menu {
        transition: all .5s ease-out;
        transform: rotate(90deg);
    }

    nav {
        width: 0px;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-color:  #ffffff;
        transition: all .5s ease-out;
        margin-left: -10px;
        overflow: hidden;

        ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 243px;
            margin: 0px;

            li {
                font-size: 32px;
                display: block;
                width: fit-content;
                margin: 20px auto;
            }
        }
    }

    header.open__menu nav {
        width: 320px;
    }

    .our-friends {
        .friends-wrapper {
            padding-top: 42px;
            padding-bottom: 42px;

            h2 {
                font-size: 25px;
            }

            .pets-cards {
                margin: 42px 15px;

                .hide {
                    display: none;
                }
            }

            .pagination {
                width: 300px;
            }

        }
    }

    footer {
        .footer-wrapper {
            justify-content: center;
            .contacts, .location {
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 40px;
                max-width: 300px;

                h2 {
                    font-size: 25px;
                    max-width: 290px;
                    text-align: center;
                    margin: 0px auto;
                }

                a {
                    width: fit-content;
                    margin: 40px auto 0px;
                }
            }

            .location a {
                width: 100%;
            }

            div {
                width: 100%;
                margin-top: 0px;
                img {
                    display: block;
                    max-width: 260px;
                    margin: 0px auto;
                }
            }
        }
    }
}